

.swiper-container {
    width: 92%;
    position: relative;
    overflow: clip;
    overflow-clip-margin: 24px;

  }



  .swiper-navigation button::after {
    color: black;
    background-color: white;
    border: none;
  }


  .swiper-container .swiper-slide-link {
    text-decoration: none !important;
  }
  .swiper-navigation button {
    color: black;
    background-color: white;
    border: none;
    margin-top: 90px;
  }

  .swiper-button-prev{
   left: -1.5%;
    color: black;
  }

  .swiper-button-next{
    right: -1.5%;
    color: black;
  }

  .will-change-to-img{
    object-fit: cover;
    height: auto;
    width: 170px;
    margin-top: 15px;
  }


  @media screen and (min-width: 1920px) and (max-width: 2559px) {
    .swiper-button-prev {
      left: -1.5%;
    }

    .swiper-button-next {
      right: 2%;
    }
  }

  @media screen and (min-width: 2560px) {
    .swiper-button-prev {
      left: -1%;
    }

    .swiper-button-next {
      right: 5%;
    }
  }
