
#upload-form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

#upload-form div {
   width: 80%;
   margin-bottom: 15px;
}


 #header-div{
    display: flex;
    justify-content: center;
    max-height: 11vh;
    height: 100%;
    margin-bottom: 1vh;
}

.header-upload{
    margin-top: 8%;
    color: #333;
    font-size: 1.5vw;
    font-family: Cormorant Garamond, serif;
    font-weight: 100;

}

#upload-form-title{
   background-color: rgb(232, 240, 254);
   height: 2.20rem;
   margin-bottom: 9px;
   outline: none;
 }

 #upload-form-title input{
   background-color: rgb(232, 240, 254);
   width: 100%;
   height: 100%;
   padding-left: 10px;
   border: 1px solid gray
 }

 #upload-form-author{
   background-color: rgb(232, 240, 254);
   height: 2.20rem;
   margin-bottom: 9px;
   outline: none;
 }

 #upload-form-author input{
   background-color: rgb(232, 240, 254);
   width: 100%;
   height: 100%;
   padding-left: 10px;
   border: 1px solid gray
 }

 #upload-form-pricePaperback{
    margin-bottom: 2.5vh;
    color: grey;
    font-family: Cormorant Garamond, serif;
    padding-top: .7vh;
    padding-bottom: .7vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border-color: grey;
    font-size: 1vw;
    border-radius: 7%;
    outline: none;
 }

 #upload-form-pricePaperback input{
   background-color: rgb(232, 240, 254);
   width: 100%;
   height: 100%;
   padding-left: 10px;
   padding-top:7px;
   padding-bottom:7px;
   border: 1px solid gray
 }


  #upload-form-priceHardcover{
    margin-bottom: 2.5vh;
    color: grey;
    font-family: Cormorant Garamond, serif;
    padding-top: .7vh;
    padding-bottom: .7vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border-color: grey;
    font-size: 1vw;
    border-radius: 7%;
    outline: none;
 }

 #upload-form-priceHardcover input{
   background-color: rgb(232, 240, 254);
   width: 100%;
   height: 100%;
   padding-left: 10px;
   padding-top:7px;
   padding-bottom:7px;
   border: 1px solid gray
 }

  #upload-form-eBook{
    margin-bottom: 2.5vh;
    color: grey;
    font-family: Cormorant Garamond, serif;
    padding-top: .7vh;
    padding-bottom: .7vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border-color: grey;
    font-size: 1vw;
    border-radius: 7%;
    outline: none;
 }

 #upload-form-eBook input{
   background-color: rgb(232, 240, 254);
   width: 100%;
   height: 100%;
   padding-left: 10px;
   padding-top:7px;
   padding-bottom:7px;
   border: 1px solid gray
 }

 #upload-form > button{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: #3d6db5!important;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2)!important;
    padding-top: 0.5em!important;
    padding-right: 1em!important;
    padding-bottom: 0.5em!important;
    padding-left: 1em!important;
    color: white;
    border-radius: 0!important;
    border-top-width: 1px!important;
    border-top-style: none!important;
    border-top-color: #21282d!important;
    border-right-width: 1px!important;
    border-right-style: none!important;
    border-right-color: #21282d!important;
    border-bottom-width: 1px!important;
    border-bottom-style: none!important;
    border-bottom-color: #21282d!important;
    border-left-width: 1px!important;
    border-left-style: none!important;
    border-left-color: #21282d!important;
    float: left!important;
    text-shadow: none!important;
    cursor: pointer!important;
 }


  #upload-form-genre{
   background-color: rgb(232, 240, 254);
   width: 80%;
   height: 100%;
   padding-left: 10px;
   padding-top:7px;
   padding-bottom:7px;
   border: 1px solid gray;
   margin-bottom: 15px;
 }


 #upload-form-overview{
    margin-bottom: 2.5vh;
    color: grey;
    font-family: Cormorant Garamond, serif;
    padding-top: .7vh;
    padding-bottom: .7vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border-color: grey;
    font-size: 1.4vw;
    border-radius: 7%;
    outline: none;

 }

  #upload-form-editorialReview{
    margin-bottom: 2.5vh;
    color: grey;
    font-family: Cormorant Garamond, serif;
    padding-top: .7vh;
    padding-bottom: .7vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border-color: grey;
    font-size: 1.4vw;
    border-radius: 7%;
    outline: none;

 }

   #upload-form-publicationDate{
    margin-bottom: 2.5vh;
    color: grey;
    font-family: Cormorant Garamond, serif;
    padding-top: .7vh;
    padding-bottom: .7vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border-color: grey;
    font-size: 1.4vw;
    border-radius: 7%;
    outline: none;

 }


   #upload-form-publisher{
    margin-bottom: 2.5vh;
    color: grey;
    font-family: Cormorant Garamond, serif;
    padding-top: .7vh;
    padding-bottom: .7vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border-color: grey;
    font-size: 1.4vw;
    border-radius: 7%;
    outline: none;

 }

   #upload-form-coverArt{
    margin-bottom: 2.5vh;
    color: grey;
    font-family: Cormorant Garamond, serif;
    padding-top: .7vh;
    padding-bottom: .7vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border-color: grey;
    font-size: 1.4vw;
    border-radius: 7%;
    outline: none;

 }


   #upload-form-pages{
    margin-bottom: 2.5vh;
    color: grey;
    font-family: Cormorant Garamond, serif;
    padding-top: .7vh;
    padding-bottom: .7vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border-color: grey;
    font-size: 1.4vw;
    border-radius: 7%;
    outline: none;

 }
