

.catagories-home-link-container{
  text-align: center;
  margin-top: 6vh;
  margin-bottom: 2px;
}

.catagories-home-link{
  display: inline-block;
  text-decoration: none;
  color: rgb(52, 125, 86);
  font-family: "Lato", sans-serif;
  font-size: 11.2102px;
  font-style: normal;
  font-weight: 400;
}

.catagories-home-link:hover{
    text-decoration: underline;
}

.catagories-genre-header{
    text-align: center;
    font-family: "Poynter Oldstyle Display Narrow", serif;
    font-weight: normal;
    font-size:32.4933px;
    color: rgb(33, 40, 45);
    line-height: 40.6167px;
    margin-bottom: 2px;
}

.catagories-sentence-below-header{
    text-align: center;
    color:#434a50;
    line-height: 1.5;
    font-family: "Lato", serif;
    font-size: 13px;
    display: block;
    font-weight: 400
}

.genre-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55%;
  margin-top: -5%;
}
