
  .gold-bar {
    background-color: #e9be84;
    color:  #e9be84;
    height: 6.5vh;
    font-size: .01vw;
    margin-bottom: .1vh;
    width: 100%;
    border: solid
}





.greenbar-top {
  background-color: rgb(62, 89, 98);
  color: rgb(62, 89, 98);
  height: 5vh;
  font-size: .01vw;
  margin-bottom: 1vh;
}




.homePage-container{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3vh;

}



.genre-container{
  /* border: 1px solid #333; */
  margin-bottom: 6.5vh;
  display: block;
  width: 100%

}

.genre-word{
  font-family: Cormorant Garamond, serif;
  font-style: italic;
  font-weight: 600;
  font-size: 35px;
  color: rgb(70, 67, 67)
}


/* .slider-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  flex-wrap: nowrap;
  margin-top: .01%;
  margin-bottom: 5%;
  overflow-x: hidden;
} */


.slider-eachbook {
  /* flex: 0 0 auto; */
  justify-content: center;
  align-items: center;
}



.homepage-book-container-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin-right: 5vw;
  overflow: hidden;
  word-break: break-word;

}


.will-change-to-img{
  /* border: 1px solid red; */
  object-fit: contain;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 3%;


}

.home-book-title{
  font-family: Cormorant Garamond, serif;
  font-weight: 600;
  color: #21282d;
  font-style: normal;
  font-size: 20px;
  margin-bottom:4%;
  align-self: center;
  text-align: center;
  overflow: hidden;
  word-break: break-word;
  max-width: 100%;

}

.home-book-title:hover{
  text-decoration: underline;

}

.home-book-author{
  font-family: Lato,sans-serif;
  font-weight: 400;
  font-size: 1vw;
  align-self: center;
  text-align: center;
  color: #21282d!important

}
