.homePage-container{
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 3vh;

}



.genre-container{
  /* border: 1px solid #333; */
  margin-bottom: 6.5vh;
  display: block;

}

.genre-word{
  font-family: Poynter,Georgia,serif;
  font-style: italic;
  font-weight: 600;
  color: rgb(70, 67, 67)
}


.slider-panel{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-margin: 200px;
  margin-bottom: 8vh;
  overflow-x: hidden;
  margin-left: 2vw;
}

.slider-panel:hover{
  overflow-x: scroll;
}

.slider-eachbook {
  /* flex: 0 0 auto; */
  justify-content: center;
  align-items: center;
}


.homepage-book-container-info{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.will-change-to-img{
  /* border: 1px solid red; */
  object-fit: cover;
  width: 16vw;
  height: 42vh;
  margin-top: 25px;
  margin-bottom: 2vh;
  margin-right: 5vw;
  object-fit: cover;
}
.home-book-title{
  font-family: Poynter,Georgia,serif;
  font-weight: 600;
  color: black;
  font-style: normal;
  margin-bottom:2vh;
  align-self: center;
}

.home-book-title:hover{
  text-decoration: underline;

}

.home-book-author{
  font-family: Lato,sans-serif;
  font-size: 1vw;
  align-self: center;

}
