.top-placeholder{
  font-size: .01vw;
  color: white;
  margin-top: 5vh;
  border-bottom: 1px solid rgb(197, 195, 195);
}

.book-detail-page-container{
  margin-top: 1.5vh;
  margin-left: 2vw;
  margin-right: 2vw;

}

.book-image-details{
    display: flex;
}

.book-image-container{
  margin-left: 11vw;
  margin-top: 4.5vh;
  width: 25%;
  height: 60%;
}

.book-details-and-buttons{
    display: flex;
    margin-left: 7.5vw;
    flex-direction: column;
    margin-top: 4.5vh
}

.book-details-and-buttons-top{
  border-bottom: 1px solid rgb(197, 195, 195);
  width: 45vw;
  margin-bottom: 1.5vh;
}


.book-details-title{
    font-family: Cormorant Garamond, serif;
    font-weight: 400;
    font-size: 2.08rem;
    margin-bottom: .7vh;
    color: #45494c
}


.black-by{
  color: #45494c;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: .9rem!important

}


.book-details-author{
    margin-bottom: 2vh;
    color: #347d56;
    font-family: Lato, sans-serif !important;
    font-weight: 400;
    font-size: .9rem!important

}

.star-ratings-info-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
}

.star-average-number{
  margin-right: .5vw;
}

.book-details-all-prices{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between
}

.book-details-all-prices > div{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-left: 1.3vw;
 padding-right: 1.3vw;
 padding-top: .8vw;
 padding-bottom: .8vw;
 border: .05vw solid rgb(150, 148, 148);
 margin-right: 1vw;
 font-size: .8rem


}

.price-to-bold {
  font-weight: bold;
}

.book-edit-and-delete{
  margin-top: 15vh
}

.delete-book {
  margin-right: 1vw;
  cursor: pointer;
  background-color: #3d6db5;
  height: 3rem;
  width: 10rem;
  color: white;
}

.Edit.delete-and-edit {
  margin-right: 1vw;
  cursor: pointer;
  background-color: white;
  height: 3rem;
  width: 10rem;
  color: black;
}


.overview-container{
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-top: 15vh;
  margin-bottom: 8vh;
}

.overview-title{
  font-size: 1.7vw;
  letter-spacing: .01vw;
  color: #21282d;
  font-style: italic;
  margin-bottom: .6vh;
}

.overview-text{
  border: .1vw solid grey;
  padding: 1.5vw;
  column-width: 27em;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: .9vw

}




.product-details-title{
  /* margin-left: 40vw; */
  text-align: center;
  font-family: Cormorant Garamond, serif;
  font-style: normal;
  font-weight: 100;
  font-size:  1.7vw;
  margin-bottom: 3vh;
}

.product-details-container{
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  margin-left: 37vw;
}

.product-details-container > div{
  font-size: 1vw
}

.publisher-details{
  font-family: Lato, sans-serif;
  margin-bottom: 2vh;
}

.publisher-key{
  margin-right: 6.5vw;
  font-size: 1vw
}

.publication-date-key{
  margin-right: 3.6vw;
  font-family: Lato, sans-serif;
  font-size: 1vw
}

.publication-date-details{
  font-family: Lato, sans-serif;
  font-size: 1vw;
  margin-bottom: 2vh;
}

.page-key{
  margin-right: 8vw;
  font-family: Lato, sans-serif;
  font-size: 1vw
}

.page-number-details{
  font-family: Lato, sans-serif;
  font-size: 1vw;
  margin-bottom: 2vh;
}


.editorial-review-container{
  background-color: #d7e4e9;
  margin-left: 2.3vw;
  margin-right: 2.3vw;
  margin-bottom: 5vh;
  padding-top: 2vh;
  padding-bottom: 5vh;
  position: relative
}

.editorial-review-title{
  text-align: center;
  font-family: Cormorant Garamond, serif;
  font-weight: 100;

}

.editorial-review-title:after{
  content: '';
  display: block;
  position: absolute;
  top: 6.5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1.5rem;
  height: 2px;
  background: #21282d;
}

.editorial-review-text-container{
  display: flex;
  justify-content: center;
  margin-top: 3vh
}

.editorial-review-text{
  font-family: Lato, sans-serif;
  font-style: italic
}

.title-with-lines{
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
}

.line-left, .line-right {
  width: 60%;
  height: .5vh;
  border-bottom:1px solid rgb(197, 195, 195);
  margin: auto;
}

.customer-reviews-container{
  margin-bottom: 5vh;
}
.customer-reviews-section-title-container{
   width: 290px;
}

.customer-reviews-section-title{
    display: inline-block;
    text-align: center;
    font-family: Cormorant Garamond, serif;
    font-weight: 100;
    width: 100%

  }

.customer-review-modal-container{
  display: flex;
  width: 95%;
  justify-content: flex-end;
  margin-top: 1vh;
}

.delete-and-edit{
  cursor: pointer;
  background-color: #3d6db5;
  height: 2.5rem;
  width: 7rem;
  color: white;
}

.customer-review-container{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(197, 195, 195);
    margin-top: 3vh;
    padding-bottom: 2vh;
    margin-left: 4.7vw;
    margin-right: 4.7vw
  }


.customer-review-container-left{
  margin-right: 10vw;
  font-family: "Lato",sans-serif!important;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 700
}

.customer-review-container-right{
  margin-right: 7vw;

}

.customer-review-stars{
  margin-bottom: 8px;
}


.customer-review-title{
  margin-bottom: 0.50em;
  color: black;
  font-size: 18px;
  font-family: "Lato",sans-serif!important;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize
}

.customer-review-review-txt{
  font-family: "Lato",sans-serif!important;
  font-weight: 300;
  font-size: .850rem;
  margin-bottom: 0.99em!important;
}

.spoilers-key{
  color: #347d56;
  font-family: "Lato",sans-serif!important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-right: .5vw;
}

.customer-review-review-spoilers{
  margin-bottom: .8em;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.recommended-key{
  color: black;
  font-family: "Lato",sans-serif!important;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  margin-right: .5vw;
}

.customer-review-review-recommended{
  margin-bottom: .8em;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-style: normal;
}


.spoiler-ternary, .recommended-ternary {
  margin-right: 1px
}

.customer-review-delete-button{
  cursor: pointer;
  background-color: #3d6db5;
  height: 2.5rem;
  width: 7rem;
  color: white;
}
