.title-length-counter-red{
    color: red
}


.review-form-container{
    display: flex;
}

.review-form-left-side{
    padding: 20px;
    width: 225px;
    height: 100%;
    background-color:#eaeaea!important;
}

.review-form-cover_art img{
  width: 100%;
}

.review-form-left-side-info{
    font-family: "Lato",sans-serif!important;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
    line-height: 19.5px;
}


/* .review-form-right-side{

} */

.review-form-header-container{
    width: 100%;
    padding: 20px 12px;
    font-family: "Lato",sans-serif!important;
    font-size: 18px;
    font-weight: 400!important;
}


.review-form-title{
    display: flex;
    font-family: "Lato",sans-serif!important;
    font-size: 15px;
    flex-direction: column;
    background-color:#eaeaea!important;

}

.review-form-title input{
margin: 10px 0;
padding: 6.5px 13px;
width: 100%;
border-color: 1px solid #757575!important;
}
