* {
  margin: 0;
  padding: 0;
}

.body{
    text-decoration: none;
  }

.nav{
  display: block;
  width: 100%;
}

.greenbar-top {
    background-color: rgb(62, 89, 98);
    color: rgb(62, 89, 98);
    height: 5vh;
    font-size: .01 vw;
    margin-bottom: 1.5vh;
}

.header-upper-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}



.header{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6vh 6vw 5vh 6vw;

  }



.word {
    font-family: Lato,sans-serif;
    font-size: 1.7vw;
    font-weight: 550;
    display: inline-block;
    color: #0d4127;
    text-decoration: none;
    padding: 0;
    line-height: 1;
    cursor: pointer;
}

.gold-and {
    color:rgb(225, 214, 97);
    font-weight: 550;
    text-decoration: none;
    padding: 0;
    line-height: 1;
    cursor: pointer;
}

.header-center{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border: 1px solid;
    text-align: center;
    height: 4vh;
    background-color: white;
    width: 55vw;
    margin-left: 50px;

  }

.grey-input{
    display: flex;
    flex-direction: row;
    height: 100%
}

.grey-container{
    background-color: rgb(230, 227, 227);
    height: 100%;
    width: 5vw;
    color:  rgb(230, 227, 227);
    font-size: .01
}

.search-input-container{
    height: 100%;
    display: flex;

}

.search-input{
    display: flex;
    border: none;
    outline: none;
    text-align: center;
    max-width: fit-content;
    background-color: white;
    height: 100%;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

  }

  .search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:rgb(62, 89, 98);

  }

  .fa-magnifying-glass{
    color: white;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
